@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #E7FBE8;
}

.top-bar {
    background-color: #ffffff;
    overflow: hidden;
}

.top-bar p {
    float: left;
    font-weight: 900;
    margin-top: 15px;
    margin-left: 10px;
    font-size: x-large;
}

.top-bar img {
    float: left;
    margin-left:  30px;
}

.top-bar a {
    float: right;
    display: block;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

}

.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.weight{
    width: 40%;
}


.option{
    text-align: center;
}
select{
    height: 40px;
    width: 90%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.gender{
    margin-left: 55%;
    margin-top: -16%;
}

.btn{
    height: 35px;
    background: #36B033;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
}

/********* Home *****************/

.nav{
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}
.logo img{
    float: left;
    margin-left:  30px;
    
}
.logo p{
    float: left;
    font-weight: 900;
    margin-top: 15px;
    margin-left: 10px;
    font-size: x-large;
}
.nav a{
    float: right;
    display: block;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
.right-links a{
    padding: 0 10px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.message{
    text-align: center;
    background: #51bf4f;
    padding: 15px 0px;
    border:1px solid #26a70d;
    border-radius: 5px;
    color: #ffffff;
 
}
.right-links{
    text-align: right;
}
.message_error{
    text-align: center;
    background: #ff2b2b;
    padding: 15px 0px;
    border:1px solid #a30000;
    border-radius: 5px;
    color: #ffffff;
}


